/* Less prepare example */
.clearfix {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#header {
  margin: 0;
  height: 10px;
}
#header .logo {
  width: 50px;
}
#header .nav span {
  width: 12px;
}
#content {
  margin: auto;
  width: 800px;
}
#content button {
  font-size: 0.9px;
  font-weight: bold;
  width: 12px;
}
#content .float-container {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#content .float-container .left {
  float: left;
}
